<div class="mt-12 mx-auto pt-6 rounded-lg shadow-md h-64 w-64">

  <div class="h-8 w-100 flex flex-row justify-around">
    <div class="h-8 w-3/4 bg-grey-light rounded-lg ml-1"></div>
    <div class="mb-4 -mt-4 w-8 bg-blue rounded-full flex items-center justify-center">5</div>
  </div>

  <div class="h-8 w-100 flex flex-row justify-around mt-6 ml-6 mr-2">
    <div class="w-8 bg-green rounded-full flex items-center justify-center">T</div>
    <div class="h-6 w-3/4 bg-grey-light rounded-lg ml-1 mt-1"></div>
  </div>

  <div class="h-8 w-100 flex flex-row justify-around mt-4 ml-6 mr-2">
      <div class="w-8 bg-yellow rounded-full flex items-center justify-center">S</div>
      <div class="h-6 w-3/4 bg-grey-light rounded-lg ml-1 mt-1"></div>
  </div>

  <div class="h-8 w-100 flex flex-row justify-around mt-4 ml-6 mr-2">
      <div class="w-8 bg-red rounded-full flex items-center justify-center">G</div>
      <div class="h-6 w-3/4 bg-grey-light rounded-lg ml-1 mt-1"></div>
  </div>

  <div class="h-8 w-100 flex flex-row justify-end mt-2 ml-6 mr-2">
      <svg height="30" width="30">
          <polygon points="1,1 1,30 30,15" style="fill: green; border-radius: 10px" />
      </svg>
  </div>

</div>





